<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light">
            <div class="portlet-title clearfix border-b">
                <div class="caption font-red-sunglo">
                    <i class=" icon-asterisk"></i>
                    <span class="caption-subject font-dark sbold"> Add Course </span>
                </div>
            </div>
            <div class="portlet-body form" id="form-add-course">
                <form id="add-course" method="post" action="" >
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group ">
                                <h4 class="col-md-4 control-label caption-subject font-dark bold">General</h4>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    所属系:
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <select class="form-control" name="department_id"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    所属专业:
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <select class="form-control" name="major_id"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    讲师:
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <select class="form-control" name="user_id"></select>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-4 control-label">
                                    课程编号:
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="couNo" disabled>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-4 control-label">
                                    课程名称:
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="courseName">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-4 control-label">
                                    课程类型:
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <select class="form-control" name="type">
                                        <option value="0">选修</option>
                                        <option value="1">必修</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-4 control-label">
                                    课程学分:
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="number" class="form-control" name="credit">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-4 control-label">
                                    听课人数:
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="number" class="form-control" name="number">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-4 control-label">
                                    开课时间:
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control scheduleTime" name="start_time">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-4 control-label">
                                    结课时间:
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control scheduleTime" name="end_time">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-4 control-label">
                                    上课时间:
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5 class_time">
                                    <div class="Mon">
                                        <label class="checkbox-inline" style="padding-left: 0">
                                            星期一:
                                        </label>
                                        <label class="checkbox-inline">
                                            <input class="mon" type="checkbox" value="08:00-09:40"> 08:00-09:40
                                        </label>
                                        <label class="checkbox-inline">
                                            <input class="mon" type="checkbox" value="10:00-11:40"> 10:00-11:40
                                        </label>
                                        <label class="checkbox-inline">
                                            <input class="mon" type="checkbox" value="14:00-15:40"> 14:00-15:40
                                        </label>
                                        <label class="checkbox-inline">
                                            <input class="mon" type="checkbox" value="16:00-17:40"> 16:00-17:40
                                        </label>
                                        <label class="checkbox-inline">
                                            <input class="mon" type="checkbox" value="19:00-20:40"> 19:00-20:40
                                        </label>
                                    </div>
                                    <div class="Tue">
                                        <label class="checkbox-inline" style="padding-left: 0">
                                            星期二:
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="08:00-09:40"> 08:00-09:40
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="10:00-11:40"> 10:00-11:40
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="14:00-15:40"> 14:00-15:40
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="16:00-17:40"> 16:00-17:40
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="19:00-20:40"> 19:00-20:40
                                        </label>
                                    </div>
                                    <div class="Wed">
                                        <label class="checkbox-inline" style="padding-left: 0">
                                            星期三:
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="08:00-09:40"> 08:00-09:40
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="10:00-11:40"> 10:00-11:40
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="14:00-15:40"> 14:00-15:40
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="16:00-17:40"> 16:00-17:40
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="19:00-20:40"> 19:00-20:40
                                        </label>
                                    </div>
                                    <div class="Thu">
                                        <label class="checkbox-inline" style="padding-left: 0">
                                            星期四:
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="08:00-09:40"> 08:00-09:40
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="10:00-11:40"> 10:00-11:40
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="14:00-15:40"> 14:00-15:40
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="16:00-17:40"> 16:00-17:40
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="19:00-20:40"> 19:00-20:40
                                        </label>
                                    </div>
                                    <div class="Fri">
                                        <label class="checkbox-inline" style="padding-left: 0">
                                            星期五:
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="08:00-09:40"> 08:00-09:40
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="10:00-11:40"> 10:00-11:40
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="14:00-15:40"> 14:00-15:40
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="16:00-17:40"> 16:00-17:40
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="19:00-20:40"> 19:00-20:40
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-4 control-label">
                                    上课地址:
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <select class="form-control" name="classroom_id">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions text-right">
                            <div class="col-md-9">
                                <button type="button" class="btn default">Reset</button>
                                <button type="submit" class="btn blue">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- alert dialog -->
    <div class="modal fade" id="dialog-alert" data-backdrop="static" aria-hidden="false">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div class="modal-body">
                <p data-name="text-alert-mesage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
            </div>
        </div>
    </div>
</div>


