<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light">
            <div class="portlet-title clearfix border-b">
                <div class="caption font-red-sunglo">
                    <i class=" icon-asterisk"></i>
                    <span class="caption-subject font-dark sbold"> Add Classroom </span>
                </div>
            </div>
            <div class="portlet-body form" id="form-add-classroom">
                <form id="add-classroom" method="post" action="" >
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group ">
                                <h4 class="col-md-4 control-label caption-subject font-dark bold">General</h4>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-4 control-label">
                                    教室编号:
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="crNo" disabled="disabled">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-4 control-label">
                                    教学楼:
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="crBuildingName">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-4 control-label">
                                    房间编号:
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="crRoomNo">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    总座位:
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="max_crNumberOfSeat">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    可用座位:
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="crNumberOfSeat">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    教室负责人:
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <select class="form-control" name="user_id">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    是否开放:
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <select class="form-control" name="active">
                                        <option value="1">是</option>
                                        <option value="0">否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    不开放的理由:
                                    <span class="required">  </span>
                                </label>
                                <div class="col-md-5">
                                    <select class="form-control" name="reason">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    设备:
                                    <span class="required">  </span>
                                </label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="equipment">
                                </div>
                            </div>
                        </div>
                        <div class="form-actions text-right">
                            <div class="col-md-9">
                                <button type="button" class="btn default">Reset</button>
                                <button type="submit" class="btn blue">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- alert dialog -->
    <div class="modal fade" id="dialog-alert" data-backdrop="static" aria-hidden="false">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div class="modal-body">
                <p data-name="text-alert-mesage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
            </div>
        </div>
    </div>
</div>


