<div class="row">
	<div class="col-md-12">
		<div class="portlet light blue">
			<div class="portlet-title clearfix blue">
				<i class="icon-bar-chart"></i> Export Report
			</div>
			<div class="portlet-body">
				<div class="profile-sidebar">
					<div class="portlet light clearfix">
						<div class="col-md-12">
							<ul class="nav nav-tabs tabs-left">
								<li class="active float-none" name="student-score">
									<a> Student Score </a>
								</li>
								<li name="btn-select-project" data-report="service">
									<a> Service Report </a>
								</li>
								<li name="btn-select-project" data-report="source">
									<a> Source Report </a>
								</li>
								<li name="btn-select-project" data-report="es_employee_record">
									<a> ES Employee Record </a>
								</li>
								<li name="btn-select-project" data-report="vendor_revenue_report">
									<a> Vendor Revenue Report </a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="profile-content">
					<div class="portlet light" id="student-score">
						<div class="portlet-title clearfix">
							<div class="caption font-red-sunglo">
								<i class="icon-file"></i>
								<span class="caption-subject font-dark sbold"> Student Score </span>
							</div>
						</div>
						<div class="portlet-body form">
							<div class="form-horizontal">
								<div class="form-body text-black">
									<div class="form-group">
										<label class="col-md-4 control-label">Start Date:</label>
										<div class="col-md-5">
											<div class="input-group date">
												<input type="text" class="form-control scheduleTime" readonly data-required="1" data-field="start_time" data-time-type="day">
													<span class="input-group-btn">
														<button class="btn default date-set" type="button">
															<i class="icon-calendar"></i>
														</button>
													</span>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">End Date:</label>
										<div class="col-md-5">
											<div class="input-group date">
												<input type="text" class="form-control scheduleTime" readonly data-required="1" data-add-day="1" data-field="end_time" data-time-type="day">
													<span class="input-group-btn">
														<button class="btn default date-set" type="button">
															<i class="icon-calendar"></i>
														</button>
													</span>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Location:</label>
										<div class="col-md-5">
											<select class="form-control select2" data-field="location_id" >
												<option value="">All Location</option>
												<option ng-repeat="location in EmployeeLocationList" value="{{location.id}}">{{location.location_name}}</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-actions text-right">
									<div class="col-md-9">
										<button class="btn blue" name="btn-export"
												data-action="student-score" data-form="student-score">Export</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>