<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="clearfix border-b">
                <div class="caption">
                    <i class="icon-search font-dark"></i>
                    <span class="caption-subject font-dark sbold">Search Form</span>
                </div>
            </div>
            <div class="form-horizontal" role="form">
                <div class="form-body paddingb-0">
                    <div class="form-group">
                        <div class="col-sm-4 col-md-4 col-lg-2 margin-bottom-10">
                            <input type="text" class="form-control select-id" placeholder="ID #">
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-2 margin-bottom-10">
                            <input type="text" class="form-control select-username" placeholder="User Name #">
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-2 margin-bottom-10">
                            <input type="text" class="form-control select-email" placeholder="Email #">
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-2 margin-bottom-10">
                            <input type="text" class="form-control select-phone" placeholder="Phone #">
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-2 margin-bottom-10">
                            <!--<input type="text" class="form-control select-type" placeholder="Phone #">-->
                            <select class="form-control select-type">
                                <option value="">请选择</option>
                                <option value="1">学生</option>
                                <option value="2">教职工</option>
                                <option value="3">管理员</option>
                            </select>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-2 margin-bottom-10">
                            <div class="search-group">
                                <div>
                                    <button type="submit" class="btn green marginr-10" id="searchResult">Submit</button>
                                    <button type="button" class="btn default" id="resetValue">Reset</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="portlet-title border-b clearfix">
                <div class="caption">
                    <i class="icon-shopping-cart"></i> User List
                </div>
            </div>
            <div class="panel-body">
                <div class="">
                    <table class="table table-striped table-bordered table-hover" id="table-user-list">
                        <thead>
                        <tr class="heading">
                            <th>ID #</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Sex</th>
                            <th>Type</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
            <!--分页-->
            <div class="text-center">
                <ul id="visible-pages"></ul>
            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>

<!--detail-->
<div class="modal fade bs-example-modal-lg" id="user-detail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
<!--<div class="modal container fade" id="user-detail" aria-hidden="false">-->
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="modal-title"><i class="icon-file-alt"></i> &nbsp;User Detail</span>
            </div>
            <div class="modal-body clearfix">
                <div class="tab-pane active">
                    <!-- general -->
                    <div class="col-md-12 paddingb-20 paddingt-10">
                        <fieldset class="fieldset">
                            <legend>基本信息</legend>
                            <div class="col-md-12 form-group">
                                <div class="col-md-2 text-right">
                                    <span>ID #:</span>
                                </div>
                                <div class="col-md-4 text-left">
                                    <a class="notEdit" name="form-edit" data-name="id"></a>
                                </div>
                                <div class="col-md-2 text-right">
                                    <span>User Namee:</span>
                                </div>
                                <div class="col-md-4 text-left">
                                    <a name="form-edit" data-name="username" data-type="text"></a>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="col-md-2 text-right">
                                    <span>Phone:</span>
                                </div>
                                <div class="col-md-4 text-left">
                                    <a name="form-edit" data-name="phone" data-type="text"></a>
                                </div>
                                <div class="col-md-2 text-right">
                                    <span>Email:</span>
                                </div>
                                <div class="col-md-4 text-left">
                                    <a name="form-edit" data-name="email" data-type="text"></a>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="col-md-2 text-right">
                                    <span>Sex:</span>
                                </div>
                                <div class="col-md-4 text-left">
                                    <a name="form-edit" data-name="sex" data-type="select"></a>
                                </div>
                                <div class="col-md-2 text-right">
                                    <span>Activ:</span>
                                </div>
                                <div class="col-md-4 text-left">
                                    <a name="form-edit" data-name="active" data-type="select"></a>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="col-md-2 text-right">
                                    <span>Type:</span>
                                </div>
                                <div class="col-md-4 text-left">
                                    <a class="notEdit" name="form-edit" data-name="type" data-type="select"></a>
                                </div>
                                <div class="col-md-2 text-right">
                                    <span>Dirthday:</span>
                                </div>
                                <div class="col-md-4 text-left">
                                    <a class="notEdit" name="form-edit" data-name="dirthday"></a>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <!-- general -->
                    <div class="col-md-12 paddingb-20 paddingt-10">
                        <fieldset class="fieldset hide" id="student">
                            <legend>详细信息信息</legend>
                            <div class="col-md-12 form-group">
                                <div class="col-md-2 text-right">
                                    <span>学号:</span>
                                </div>
                                <div class="col-md-4 text-left">
                                    <a class="notEdit" name="form-edit" data-name="stuNo"></a>
                                </div>
                                <div class="col-md-2 text-right">
                                    <span>学分:</span>
                                </div>
                                <div class="col-md-4 text-left">
                                    <a class="notEdit" name="form-edit" data-name="credit"></a>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="col-md-2 text-right">
                                    <span>教职号:</span>
                                </div>
                                <div class="col-md-4 text-left">
                                    <a class="notEdit" name="form-edit" data-name="teachNo"></a>
                                </div>
                                <div class="col-md-2 text-right">
                                    <span>职位:</span>
                                </div>
                                <div class="col-md-4 text-left">
                                    <a class="notEdit" name="form-edit" data-name="position"></a>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="col-md-2 text-right">
                                    <span>状态:</span>
                                </div>
                                <div class="col-md-4 text-left">
                                    <a name="form-edit" data-name="status" data-type="select"></a>
                                </div>
                                <div class="col-md-2 text-right">
                                    <span>班級:</span>
                                </div>
                                <div class="col-md-4 text-left">
                                    <a name="form-edit" data-name="class" data-type="select"></a>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="col-md-2 text-right">
                                    <span>专业:</span>
                                </div>
                                <div class="col-md-4 text-left">
                                    <a name="form-edit" data-name="major_id" data-type="select"></a>
                                </div>
                                <div class="col-md-2 text-right">
                                    <span>系:</span>
                                </div>
                                <div class="col-md-4 text-left">
                                    <a name="form-edit" data-name="department_id" data-type="select"></a>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="col-md-2 text-right">
                                    <span>权限:</span>
                                </div>
                                <div class="col-md-4 text-left">
                                    <a name="form-edit" data-name="purview" data-type="select"></a>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="fieldset hide" id="teacher">
                            <legend>详细信息信息</legend>
                            <div class="col-md-12 form-group">
                                <div class="col-md-2 text-right">
                                    <span>教职号:</span>
                                </div>
                                <div class="col-md-4 text-left">
                                    <a class="notEdit" name="form-edit" data-name="teachNo"></a>
                                </div>
                                <div class="col-md-2 text-right">
                                    <span>职位:</span>
                                </div>
                                <div class="col-md-4 text-left">
                                    <a class="notEdit" name="form-edit" data-name="position"></a>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="col-md-2 text-right">
                                    <span>系:</span>
                                </div>
                                <div class="col-md-4 text-left">
                                    <a name="form-edit" data-name="department_id" data-type="select"></a>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="fieldset hide" id="admin">
                            <legend>详细信息信息</legend>
                            <div class="col-md-12 form-group">
                                <div class="col-md-2 text-right">
                                    <span>权限:</span>
                                </div>
                                <div class="col-md-4 text-left">
                                    <a name="form-edit" data-name="purview" data-type="select"></a>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <!-- general -->
                    <div class="col-md-12 paddingb-20 paddingt-0">
                        <fieldset class="fieldset">
                            <legend>奖惩记录&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="btn-group btn-group-xs btn-group-solid">
                                    <button type="button" class="btn blue" id="addFootprint">Add New</button>
                                </div>
                            </legend>
                            <div class="padding-LR-10">
                                <table class="table table-striped table-bordered table-hover" id="table-footprint-list">
                                    <thead>
                                    <tr class="heading">
                                        <th>Time</th>
                                        <th>User Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Sex</th>
                                        <th>Type</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn green">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- confirm dialog -->
<div class="modal fade" id="dialog-confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Dialog</h4>
            </div>
            <div class="modal-body">
                <p><!--弹框显示的内容--></p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                <button type="submit" id="doConfirm" class="btn green">Confirm</button>
            </div>
        </div>
    </div>
</div>
